docker/nginx/certs
docker/nginx/logs/
docker/database/data/
.DS_Store
/.fleet
/.idea
/.vscode
.env
app/*.log
app/.env
app/.phpactor.json
app/.phpunit.result.cache
app/.nova
app/.phpunit.cache
app/.zed
app/auth.json
app/node_modules
app/public/build
app/public/hot
app/public/storage
app/storage/*.key
app/storage/pail
app/vendor
app/Homestead.json
app/Homestead.yaml
app/npm-debug.log
app/Thumbs.db
app/yarn-error.log